@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background-color: #f1f4f7 !important;
}

.title {
	font-family: 'Inter', sans-serif !important;
	font-weight: 700 !important;
}

.primary-btn {
	background: linear-gradient(to left, #6366f1 50%, #198754 50%) right;
	background-size: 200% 200%;
	transition: 0.5s ease-out;
	color: white;
	padding: 1rem 1.5rem;
	border-radius: 0.125rem;
}

.primary-btn:hover {
	background-position: left;
}
